table {
border-collapse: collapse;
border-spacing: 0;
}


table td:not([align]), table th:not([align]) {
    text-align: left;
    height: 10px;
}

a, .product {
    color: rgb(34, 34, 34);
    font-weight: 500;
}

.cat {
	color: rgb(34, 34, 34);
	font-weight: 700;
}