body {
  font-family: sans-serif;
  font-size: .75rem;
}

table, td, tr, th {
  border: 0;
}

th {
  text-align: left;
  padding-right: 2.5rem;
}

tr {
  line-height: 1.2rem;
}

td {
  vertical-align: top;
}

table.sortable thead {
    cursor: pointer;
}
